@use "../styles/variables.scss" as v;

.articlePostArea{
    @include v.common-width();
    margin: 0 auto;
    padding: 0 1.6em;
    .articlePosts{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 31.6rem));
        gap: 5em;
        @include v.mq(w683) {
            justify-content: center;
        }
    }
    .articlePostsItem{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 1.6em;
        transition: 0.5s all;
        
        .articlePostsItemTitle{
            font-size: 1.6rem;
            margin: 1em 0 .8rem 0;
            line-height: 1.3;
        }
        .articlePostsItemThm{
            width: 100%;
        }
        .articlePostsItemDate{
            font-size: 1rem;
        }
    }
}
:root[theme="dark"]{
    .articlePostsItem{
        background: #fff;
        color: #000;
        outline-style: solid;
        outline-color: v.$green;
        outline-offset: 1px;
        outline-width: 2px;
        border-radius: 1em;
        &:hover{
            box-shadow: unset;
            outline-color: #86f5ba;
        }
    }
}