@use "../styles/variables.scss" as v;


  @media (prefers-color-scheme:dark) {
    body {
      background-color:#09090b;
      color: #fff;
    }
  }
  :root[class="dark-mode"]{
    background-color:#09090b;
    color: #fff;
    .about__json {
      background-color: #241f1f;
      color: #fff;
    }
    .about__json-inner{
      background-color: #000;
    }
  }
  :root[class="light-mode"]{
      background-color: #fff;
      color: v.$black;
  }
  :root {
    &.light-mode {
      background-color: #fff;
      color: v.$black;
    }
  }


html{
    font-size: 62.5%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: v.$black;
    font-weight: 300;
    transition: 0.5s all;

    @include v.mq(w428){
      line-height: 1.6;
    }
    .pagefind-ui__drawer{
      position: absolute;
    }
    .post-container{
        max-width: 1080px;
        width: 100%;
        margin: 15em auto auto;
        padding: 0 1.6em;
    }
    .post-container__title{
      text-align: center;
      font-size: 2.5rem;
      word-break: auto-phrase;
    }
    .post-container__publishedAt{
      text-align: center;
      margin-top: 1em;
      font-size: 1rem;
      margin-bottom: 2em;
    }
    .post-container__h2{
      font-size: 2.3rem;
      font-weight: 300;
      margin-bottom: 1em;
      margin-top: 3em;
    }
    .post-container__text{
      font-size: 1.6rem;
      letter-spacing: 1px;
      line-height: 1.8;
      margin-bottom: 1em;
    }
    .post-container__link{
      text-decoration: underline;
      text-decoration-color: #86f5ba;
      &:hover{
        color: #86f5ba;
      }
    }
    .post-container__image{
      border-radius: 10px;
      max-width: 450px;
      width: 100%;
      height: auto;
    }

}



.w1024-block{
  display: none;
  @include v.mq(w1024){
    display: block;
  }
}
.w820-block{
  display: none;
  @include v.mq(w820){
    display: block;
  }
}
.w683-none{
  @include v.mq(w683){
    display: none;
  }
}
