@use "../styles/variables.scss" as v;


  @media (prefers-color-scheme:dark) {
    body {
      background-color:v.$dark-mode-bg;
      color: v.$dark-mode-text;
    }
  }
  :root[class="dark-mode"]{
    background-color:v.$dark-mode-bg;
    color: v.$dark-mode-text;
    .about__json {
      background-color: v.$modal-dark-bg;
      color: v.$dark-mode-text;
    }
    .about__json-inner{
      background-color:v.$dark-mode-bg;
    }
    .pagefind-ui__message{
      color: v.$dark-mode-text;
    }
    .pagefind-ui__result-title{
      color: v.$dark-mode-text;
    }
    .pagefind-ui__result-title.svelte-4xnkmf{
      color: v.$dark-mode-text;
    }
    .pagefind-ui__result{
      color: v.$dark-mode-text;
    }
  }
  :root[class="light-mode"]{
      background-color: v.$light-mode-bg;
      color: v.$black;
  }
  :root {
    &.light-mode {
      background-color: v.$light-mode-bg;
      color: v.$light-mode-text;
    }
  }


html{
    font-size: 62.5%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: v.$black;
    font-weight: 300;
    transition: 0.5s all;
    line-height: 1.8;
    @include v.mq(w428){
      line-height: 1.6;
    }

    .body-lock{
      position: fixed;
      left: 0;
      width: 100%;
    }
    main{
      @include v.common-width();
      margin: 0 auto;
    }
    .paginationActive{
      color: #4861c6;
  }
    .pagefind-ui__drawer{
      position: absolute;
    }
    .post-container{
        max-width: 1080px;
        width: 100%;
        margin: 15em auto auto;
        padding: 0 1.6em;
    }
    .post-container__title{
      text-align: center;
      font-size: 2.5rem;
      word-break: auto-phrase;
    }
    .post-container__publishedAt{
      text-align: center;
      margin-top: 1em;
      font-size: 1rem;
      margin-bottom: 3em;
    }
    .post-container__h2{
      font-size: 2.3rem;
      font-weight: 300;
      margin-bottom: 1em;
      margin-top: 3em;
      @include v.mq(w428){
        font-size: 1.8rem;
      }
    }
    .post-container__text{
      font-size: 1.6rem;
      letter-spacing: 1px;
      line-height: 1.8;
      margin-bottom: 1em;
      @include v.mq(w428){
        font-size: 1.4rem;
      }
    }
    .post-container__link{
      text-decoration: underline;
      text-decoration-color: #86f5ba;
      &:hover{
        color: #86f5ba;
      }
    }
    .post-container__image{
      border-radius: 10px;
      max-width: 450px;
      width: 100%;
      height: auto;
    }
    .pagefind-ui__result-title{
      font-size: 1.6rem;
    }
}



.w1024-block{
  display: none;
  @include v.mq(w1024){
    display: block;
  }
}
.w820-block{
  display: none;
  @include v.mq(w820){
    display: block;
  }
}
.w683-none{
  @include v.mq(w683){
    display: none;
  }
}
