@use "../styles/variables.scss" as v;
.mv{
    padding-top: 7em;
    .mvInner{
        @include v.common-width();
        padding: 15em 0;
        margin: 0 auto;
        .mvInnerTitle{
            font-size: 6rem;
            justify-content: space-between;
            width: fit-content;
            margin-bottom: 0.25em;
            color: v.$black;
           .mvInnerTitleSpan{
                background-image: linear-gradient(74deg, rgb(66, 133, 244) 0px, rgb(155, 114, 203) 9%, rgb(217, 101, 112) 20%, rgb(217, 101, 112) 24%, rgb(155, 114, 203) 35%, rgb(66, 133, 244) 44%, rgb(155, 114, 203) 50%, rgb(217, 101, 112) 56%);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
           }
        }
        .mvInnerText{
            font-size: 1.8rem;
            color: v.$darkGray;
        }
    }
}