@use "../styles/variables.scss" as v;
@keyframes arrowmove{
    0%{right:10%;}
    50%{right:8%;}
   100%{right:10%;}
  }
.mv{
    padding-top: 7em;
    .mvInner{
        @include v.common-width();
        padding: 10em 0;
        margin: 0 auto;
        .mvInnerTitle{
            font-size: 6rem;
            justify-content: space-between;
            width: fit-content;
            margin-bottom: 0.25em;
            color: v.$black;
           .mvInnerTitleSpan{
                // background-image: linear-gradient(74deg, rgb(66, 133, 244) 0px, rgb(155, 114, 203) 9%, rgb(217, 101, 112) 20%, rgb(217, 101, 112) 24%, rgb(155, 114, 203) 35%, rgb(66, 133, 244) 44%, rgb(155, 114, 203) 50%, rgb(217, 101, 112) 56%);
                background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
           }
        }
        .mvInnerText{
            font-size: 1.8rem;
            color: v.$darkGray;
        }
        .mvInnerLink{
            color: v.$blue;
            background-color: v.$blue03;
            border-radius: 3px;
            border: solid 1px v.$blue04;
            font-size: 1.6rem;
            padding: 0.4em 2em 0.4em 0.8em;
            display: inline-block;
            margin-top: 1em;
            transition: 0.5s all;
            position: relative;

            &:hover{
                background-color: #fff;
            }
            i{
                font-size: 1.3rem;
                position: absolute;
                right:10%;
                top: 33%;
                // transform: translate(0, -50%);
                /*矢印の動き1秒かけて永遠にループ*/
                animation: arrowmove 1.5s ease-in-out infinite;
            }
        }
    }
}





    
    
    
    
    
    
    
    
    
    
    
    
    