/* color */


$darkGray:#a9a9a9;
$black:#5a564d;






/* breakpoint */
$breakpoint: (
  w325: 'screen and (max-width: 325px)',
  w428: 'screen and (max-width: 428px)',
  w683: 'screen and (max-width: 683px)',
  w768:'screen and (max-width: 768px)',
  w820: 'screen and (max-width: 820px)',
  w1024: 'screen and (max-width: 1024px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}
@mixin common-width{
    max-width: 1080px;
    width: 100%;
}
@mixin common-artcleStyle{
    .articleList {
        @include common-width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 316px));
        grid-gap: 50px;
        @include mq(tab) {
          justify-content: space-between;
        }
        @include mq(sp) {
          justify-content: center;
        }
        &__item {
          max-width: 31.6rem;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border-radius: 10px;
          background-color: #fff;
          position: relative;
          transition: all 0.5s;
          &:hover {
            box-shadow: $blue02 0px 2px 8px 0px;
          }
        }
        &__itemImage {
          width: 100%;
          border-radius: 10px 10px 0 0;
        }
        &__detail {
          padding: 1em 1.6em 1.6em 1.6em;
        }
        &__detailEmoji {
          font-size: 50px;
          text-align: center;
          padding: 0.8em 0 0.3em 0;
          line-height: unset;
          margin-bottom: unset;
        }
        &__detailTitle {
          font-size: 1.6rem;
          line-height: 1.6;
          margin-bottom: unset;
        }
        &__detailDate {
          margin-top: 1rem;
          font-size: 1rem;
          line-height: unset;
          margin-bottom: unset;
        }
        &__detailTags {
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: $blue;
          color: #fff;
          padding: 0.3rem 0.8rem;
          border-radius: 10px;
          font-size: unset;
          margin-bottom: unset;
        }
      }
}
@mixin searchStyle{
  --pagefind-ui-scale: 0.6;
  --pagefind-ui-primary: #eeeeee;
  --pagefind-ui-text: #393939;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: #eeeeee;
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: sans-serif;
}
@mixin iconBtnStyle{
  display: block;
  border: solid 1px #eeeeee;
  padding: 0.5em 0.5em 0 0.5em;
  border-radius: 5px;

}


// 記事一覧用
@mixin article-list{
  margin: 0 auto;
  padding: 0 1.6em;
  margin-bottom: 10em;
    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 5em;
        @include mq(w683) {
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 31.6rem));
        }
    }
    &__item{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 1.6em;
        transition: 0.5s all;
        border-radius: 1em;
        max-width: 316px;
        width: 100%;
    }
    &__thm{
        width: 100%;
        &--zenn{
          height: 150px;
        }
    }
    &__emoji {
      font-size: 5rem;
      text-align: center;
      height: 150px;
      background-color: #fafafa;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__title{
        font-size: 1.6rem;
        margin: 1em 0 .8rem 0;
        line-height: 1.3;
    }
    &__published{
        font-size: 1rem;
    }
}
:root[class="dark-mode"]{
    .article-posts{
        &__item{
            color: #000;
            border: solid 3px #27272a;
            border-radius: 1em;
            color: #fff;
        }  
    }
}

