---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ArticlePostArea from "../components/ArticlePostArea.astro";

import ZennPosts from "../components/ZennPosts.astro";
import MV from "../components/Mv.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <MV />
    <ArticlePostArea />
    <ZennPosts />
  </main>
</Layout>

<style></style>

<script></script>
