---
import dayjs from "dayjs";
import { getBlogs } from "../lib/microcms";
import SectionTitle from "./SectionTitle.astro";
import ViewMore from "./ui/ViewMore.astro";

const blogs = await getBlogs({
  fields: ["title", "id", "content", "eyecatch", "description", "publishedAt"],
  limit: 3,
});
const posts = blogs.contents;
---

<div class="article-posts">
  <SectionTitle title="articles" />
  <ul class="article-posts__list" data-pagefind-body>
    {
      posts.map((post) => {
        return (
          <li class="article-posts__item">
            <a href={"/articles/" + `${post.id}`}>
              <img
                src={post.eyecatch.url}
                alt="記事のサムネイル"
                class="article-posts__thm"
                width="284"
                height="160"
              />
              <p class="article-posts__title" data-pagefind-index-attrs>
                {post.title}
              </p>
              <p class="article-posts__published">
                {dayjs(post.publishedAt).format("YYYY/MM/DD")}
              </p>
            </a>
          </li>
        );
      })
    }
  </ul>
  <ViewMore />
</div>

<style lang="scss">
  @use "../styles/variables.scss" as v;
  .article-posts {
    @include v.article-list();
  }
</style>
