<footer>
  <div class="footer-inner">
    <p class="footer-inner__title">@u2.dev</p>
  </div>
</footer>

<style lang="scss">
  @use "../styles/variables.scss" as v;

  .footer-inner {
    padding: 5em 0;
    @include v.common-width();
    margin: 0 auto;
    text-align: center;
    &__title {
      font-size: 1.6rem;
      text-align: center;
    }
  }
</style>
