---
import dayjs from "dayjs";
import SectionTitle from "./SectionTitle.astro";

interface Post {
  id: number;
  path: string;
  emoji: string;
  title: string;
  published_at: string;
}

const res = await fetch(
  "https://zenn.dev/api/articles?username=u2_ow&order=latest"
);
const data = await res.json();
const zennPosts: Post[] = Array.from(data.articles);
const zennPath = "https://zenn.dev";
---

<div class="article-posts">
  <SectionTitle title="develop" />
  <ul class="article-posts__list">
    {
      zennPosts.map((item) => {
        return (
          <li class="article-posts__item">
            <a href={`${zennPath}${item.path}`}>
              <div class="article-posts__thm article-posts__thm--zenn">
                <p class="article-posts__emoji">{item.emoji}</p>
              </div>
              <p class="article-posts__title">{item.title}</p>
              <p class="article-posts__published">
                {dayjs(item.published_at).format("YYYY/MM/DD")}
              </p>
            </a>
          </li>
        );
      })
    }
  </ul>
</div>

<style lang="scss">
  @use "../styles/variables.scss" as v;
  .article-posts {
    @include v.article-list();
  }
</style>
