---
import dayjs from "dayjs";

interface Post {
  id: number;
  path: string;
  emoji: string;
  title: string;
  published_at: string;
}

const res = await fetch(
  "https://zenn.dev/api/articles?username=u2_ow&order=latest"
);
const data = await res.json();
const zennPosts: Post[] = Array.from(data.articles);
const zennPath = "https://zenn.dev/";

console.log("helo");
console.log(zennPosts[0]);
---

<div class="zennPosts">
  <ul>
    {
      zennPosts.map((item, index) => {
        return (
          <li>
            <a href={`${zennPath} + ${item.path}`}>
              <p>{item.emoji}</p>
              <p>{item.title}</p>
              <p>{dayjs(item.published_at).format("YYYY/MM/DD")}</p>
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
