---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="u2.dev主に個人的な知識のアウトプットの場として運営している個人サイトです。"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
      href="https://cdn.jsdelivr.net/npm/destyle.css@3.0.2/destyle.css"
    />
    <!-- <link
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> -->

    <script
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.4/howler.min.js"
      integrity="sha512-xi/RZRIF/S0hJ+yJJYuZ5yk6/8pCiRlEXZzoguSMl+vk2i3m6UjUO/WcZ11blRL/O+rnj94JRGwt/CHbc9+6EA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <!-- material icon -->
    <link
      rel="stylesheet"
      media="print"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <!-- material icon -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
