---

---

<button
  class="audio"
  id="play"
  role="button"
  aria-label="音声を再生する"
  aria-pressed="mixed"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 -960 960 960"
    width="30"
    height="30"
    class="audio__icon"
    role="img"
    ><path
      d="m397.333-332.667 230-147.333-230-147.333v294.666Zm82.535 222q-76.508 0-143.573-29.245-67.065-29.244-117.067-79.187-50.003-49.944-79.282-117.016-29.279-67.072-29.279-143.711 0-76.654 29.304-144.152 29.303-67.499 79.471-117.738 50.168-50.239 116.965-78.928t143.124-28.689q76.689 0 144.388 28.654 67.699 28.655 117.797 78.848 50.099 50.194 78.858 117.727 28.759 67.534 28.759 144.319 0 76.785-28.654 143.402-28.655 66.618-78.835 116.829-50.18 50.211-117.696 79.549-67.515 29.338-144.28 29.338ZM480-152q136.513 0 232.256-95.744Q808-343.487 808-480t-95.744-232.256Q616.513-808 480-808t-232.256 95.744Q152-616.513 152-480t95.744 232.256Q343.487-152 480-152Zm0-328Z"
    ></path></svg
  >
</button>

<style lang="scss">
  @use "../../styles/variables.scss" as v;
  .audio {
    background-color: #fafafa;
    border-radius: 3px;
    border: solid 1px #e4e4e7;
    border-radius: 3px;
    padding: 0.3em;
    font-size: 2rem;
    vertical-align: bottom;
    margin-right: 1.6rem;
    transition: 0.5s all;
    line-height: 0;
    @include v.mq(w683) {
      padding: 0.2em;
    }
    &:hover {
      background-color: v.$light-mode-bg;
    }
  }
  :root[class="dark-mode"] {
    .audio {
      color: v.$dark-mode-text;
      background-color: v.$dark-mode-bg;
      border: solid 2px v.$dark-mode-border;
      &__icon {
        fill: #fff;
      }
    }
  }
</style>
<script is:inline>
  const playBtn = document.getElementById("play");
  const audioIcon = document.getElementById("audio_icon");
  var sound = new Howl({
    src: ["/assets/audio/audio.mp3"],
  });
  playBtn?.addEventListener("click", () => {
    sound.play();
    playBtn.setAttribute("aria-pressed", "true");
    sound.on("play", () => {
      playBtn.setAttribute("aria-pressed", "true");
    });
    sound.on("end", function () {
      playBtn.setAttribute("aria-pressed", "false");
    });
  });
</script>
